
@model AccuWeatherProject.Models.PageViewModel
<div id="AccChart" class="row myheadercenter span11 chartpad"><img class="Chart" src="@Url.Action("MyChart",  new { id = Model.randomForImage, key = Model.location.Key })" usemap="#MyMap" /></div>
